{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "importOrder": [
    "reflect-metadata",
    "<THIRD_PARTY_MODULES>",
    "^[@]generated",
    "^[~/]",
    "^[./]"
  ],
  "importOrderSeparation": true
}
